
img{
	max-height: 900px;
	max-width: 1500px;
	border: white, 1px;
}

body{
	text-align:center;
	background: #fff;
	font-family:monospace;
}

a:link{
	color: blue;
}

a:visited{
	color: grey;
}

a:hover{
	color: lightblue;
}

a:active{
	color: purple;
}

h1{
	padding: 2em;
	background: #eee;
}

h2{
	text-decoration:underline;
}

.required{
	color: red;
}

.home{
	bottom:0%;
	position:fixed;
}

#tag{
	padding: 2px;
	border-style:solid;
	border-width: 1px;
	border-color: #00f;
	background: #5d90e0;
	color: white;
}

a.tag{
	color: white;
}

.close{
	color: white;
	text-decoration:none;
}
