@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root{
	--buttonColor: #ff7070;
	--buttonBorder: #df5050;
}

*{
	font-family: Amatic SC;
	font-size: 30px;
	/* color: #aaa; */
}

body{
	text-align: center;
}

h1{
	text-align: center;
	/* padding: 1em; */
	/* background-color: #eee; */
	font-size: 80px;
}

input[type='submit']{
	font-size: 30px;

}

button.login{
	width: 20%;
	height: 10%;
	text-align: center;
	font-size: 40px;
	/* margin-left: 40%; */
	/* background-color: var(--buttonColor);
	border-color: var(--buttonBorder); */
}

button.createaccount{
	width: 10%;
	height: 5%;
	text-align: center;
	font-size: 30px;
	/* margin-left: 46%; */
	/* background-color: var(--buttonColor);
	border-color: var(--buttonBorder); */
}

button, input[type='submit']{
	background-color: var(--buttonColor);
	border-color: var(--buttonBorder);
}

.booktitle{
	font-style:italic;
}

#loginform{
	display: none;
}

#createaccountform{
	display: none;
}

.error{
	color: red;
}

.banner{
	font-size: 60px !important;
}

a.banner{
	font-size: 60px !important;
}
