/*CRAYONS THEME*/

:root{
	--picColor: #ff8989;
	--blogColor: #ea85fc;
	--commentColor: #b985fc;
	--fourthColor: ;
	--buttonBorderColor: #e9dd71;
	--buttonColor: #f9ed81;
	--flavorColor: #ff96d8;
	--userColor:  #9bff89;
	--fontColor: ;
	--bgdColor: ;
	--tagColor: #89aaff;
	--h1Color: #89aaff;
	/* linear-gradient(to bottom left, #ff8989, #9bff89, #89aaff); */
}

img{
	max-height: 900px;
	max-width: 1500px;
	border: white, 1px;
}

body{
	text-align:center;
	/* background-image: url('/pictures/fcfbfa-ugur-akdemir-283278-unsplash.jpg'); */
	background-color: var(--bgdColor);
	font-family:monospace;
	color: var(--fontColor);
}

a:link{
	color: var(--fontColor);
}

a:visited{
	color: var(--fontColor);
}

a:hover{
	color: lightblue;
}

a:active{
	color: purple;
}

h1{
	padding: 2em;
	background: var(--h1Color);
	/* background-color: #eee; */
	/* background-size: contain; */
}

h2{
	text-decoration:underline;
}

.required{
	color: red;
}

.home{
	bottom:0%;
	position:fixed;
}

/* CONTAINERS */

.container1{
	border-radius: 25px;
    background: var(--blogColor);
    padding: 20px;
	width: 40%;
	/* float: left; */
	display: table-cell;
}

.container2{
	border-radius: 25px;
    background: var(--userColor);
	padding: 20px;
	width: 20%;
	/* float: left; */
	display: table-cell;
}

.container3{
	border-radius: 25px;
    background: var(--picColor);
    padding: 20px;
	position: middle right;
	width: 40%;
	/* float: right; */
	display: table-cell;
}

.usercontainer{
	border-radius: 25px;
    background: var(--userColor);
    padding: 20px;
	width: 40%;
	margin:auto;
}

.maincontainer{
	display: table;
    width: 100%;
	border-spacing: 4px;
}

.postcontainerB{
	border-radius: 25px;
    background: var(--blogColor);
    padding: 20px;
	width: 60%;
	margin:auto;
}

.postcontainerP{
	border-radius: 25px;
    background: var(--picColor);
    padding: 20px;
	width: 60%;
	margin:auto;
}

#tag{
	padding: 2px;
	border-style:solid;
	border-width: 1px;
	border-color: #DA7;
	background: var(--tagColor);
	color: var(--fontColor);
}

a.tag{
	color: var(--fontColor);
}

.close{
	color: var(--fontColor);
	text-decoration:none;
}

.comment{
	padding:1em;
	background-color: var(--commentColor);
	border-radius: 3px;
}

.userbadge{
	padding:2px;
	font-weight:bold;
	background-color:var(--userColor);
	color: var(--fontColor);
}

/* flavortext information pop up */
.flavorInfo{
	padding:1em;
	background-color: var(--flavorColor);
	color: var(--fontColor);
	display:none;
	border-radius: 25px;
}

.flavorInfoQM{
	padding:2px;
	background-color: var(--flavorColor);
	border-radius: 5px;
	color: var(--fontColor);
}

/* Buttons */
input[type='submit'], button{
	background-color: var(--buttonColor);
	border-radius: 8px;
	border-color: var(--buttonBorderColor);
	color: var(--fontColor);
}
